body{
/*	font-family: Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height: 1.5; // line space between each line*/
	font: 15px/1.5 Arial, Helvetica, sans-serif; /* Same as above */
	padding:0;
	margin:0;
	background-color: #f4f4f4;
}


/* Use . for class*/
/* Global */
.container {
	width:80%; /* Content occupies 80% of whole screen*/
	margin:auto; /* Move content to middle of screen*/
	overflow: hidden;
}

ul{
	margin:0;
	padding:0;
}


/* Header*/
header{
	background:#35424a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}


header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size:16px;
}

/* By default, ul has padding */
header ul{
	margin:0;
	padding:0;
}

/* Make li horizontal*/
header li{
	float:left;
	display: inline;
	padding: 0 20px 0 20px;
}


header #branding{
	float:left;

}

header #branding h1{
	margin:0;
}

header nav{
	float:right;
	margin-top:10px;
}

header .highlight, header .current a{
	color:#e8491d;
	font-weight: bold
}


header a:hover{
	color:#cccccc;
	font-weight:bold;
}


/* Showcase */
#showcase{
	min-height:500px;
	background:url(../img/logo_showcase.jpg) no-repeat 0 -300px; /* 0 -300px adjusts picture direction*/
	text-align: center;
	color:#ffffff;
}

#showcase h1{
	margin-top:100px;
	font-size:55px;
	margin-bottom:10px;
}

#showcase p{
	font-size:20px;
}





















































